[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/SDL-mirror/SDL
[submodule "lib/sdl2_image"]
	path = lib/sdl2_image
	url = https://github.com/SDL-mirror/SDL_image
[submodule "lib/sdl2_mixer"]
	path = lib/sdl2_mixer
	url = https://github.com/SDL-mirror/SDL_mixer
[submodule "lib/sdl2_ttf"]
	path = lib/sdl2_ttf
	url = https://github.com/SDL-mirror/SDL_ttf
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:davidsiaw/glm
[submodule "lib/mruby"]
	path = lib/mruby
	url = https://github.com/davidsiaw/mruby
[submodule "lib/glew"]
	path = lib/glew
	url = git@github.com:davidsiaw/glew
[submodule "lib/mruby-cpp"]
	path = lib/mruby-cpp
	url = git@github.com:davidsiaw/mruby-cpp
[submodule "lib/sdl2_gfx"]
	path = lib/sdl2_gfx
	url = git@github.com:davidsiaw/sdl2_gfx
